body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

h3 {
  margin-top: 10px;
}

.delete-form {
  display: inline-block;
  margin-right: 5px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}